
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <br/><br/>
    <h2 style="text-align:center">About Us</h2>
      <div class="container">
        <div class="row">
        <div class="col-xl-6 col-lg-7" data-aos="fade-right">
  
            <img src="https://4.bp.blogspot.com/-J0QBlFcnF6Y/WGGggeadbwI/AAAAAAAANH0/Qwwk_-jbYVE4XUvi8VgCzsaY8QJLPEHLACLcB/s1600/migrate.jpg" class="img-fluid" alt="">
  
          </div>
  
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
  
            <h3 data-aos="fade-up"></h3>
  
            <p data-aos="fade-up">
  
              The International Organization for Migration is the leading inter-governmental organization promoting humane and orderly migration for the benefit of all, with a presence in over 100 countries, and supporting 174 member states to improve migration management. In 2021, IOM´s work on the mobility dimensions of crisis reached 31.7 million persons (including internally displaced persons, refugees and migrants) and host community members.
  
            </p>
  
            <div class="icon-box" data-aos="fade-up">
  
              <i class="bx bx-receipt"></i>
  
              <p>The Organization works to help ensure the orderly and humane management of migration, to promote international cooperation on migration issues, to assist in the search for practical solutions to migration problems and to provide humanitarian assistance to migrants in need, be they refugees, displaced persons or other uprooted people. The IOM Constitution gives explicit recognition to the link between migration and economic, social and cultural development, as well as to the right of freedom of movement of persons.</p>
  
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
  